{% extends 'base.html' %}

{% block content %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form class="my-10 text-darkbrown w-max mx-auto" action="" method="POST">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <div class="flex mb-4">
        <div class="bg-brownwhite text-darkbrown h-[42px] py-2 font-medium w-[30vw] sm:w-[100px] text-center">Date:</div>
        <input class="w-[60vw] sm:w-[200px]" name="date" type="date" required>
    </div>
    <div class="bg-brownwhite text-darkbrown h-[42px] py-2 pl-4 font-medium w-[90vw] sm:w-[650px]">Description:</div>
    <textarea class="w-[90vw] sm:w-[650px]" name="description" required placeholder="What did you do today?"></textarea>
    {% if object %}
    <input type="submit" value="Update" class="block bg-brown mt-6 hover:bg-darkbrown text-white w-[100px] h-[40px] rounded-md">
    {% else %}
    <input type="submit" value="Create Entry" class="block bg-brown mt-6 hover:bg-darkbrown text-white w-[140px] h-[40px] rounded-md">
    {% endif %}
</form>
{% endblock %}