{% extends 'base.html' %}
{% block content %}


<a href="{% url 'new_entry' %}">
<div class="my-8 w-[300px] mx-auto bg-blue hover:bg-darkblue text-white py-2 text-center rounded">
    New Entry
</div>
</a>

{% for date in date_list %}
<div class="flex mx-auto max-w-max">
    {% if date.outfits.first %}
    <div class="my-6 border-brownwhite border-[2px] border-r-[0px] w-[200px]">
        {% if date.outfits.first.outfitphoto_set.first %}
        <img src="{{date.outfits.first.outfitphoto_set.first.url}}" class="h-[200px] mx-auto">
        {% else %}
        <img src="https://i.imgur.com/92tDKN4.png" class="h-[200px]">
        {% endif %}
    </div>
    {% endif %}
    <div class="flex flex-col my-6">
        <div class="border-[2px] border-brownwhite text-brown w-[75vw] md:w-[50vw] 2xl:w-[33vw] mx-auto hover:bg-brownwhite h-[150px]">
                <a href="{% url 'dates_detail' date.id %}">
                <p class="text-lg font-bold p-4">{{date.date}}</p>
                <p class="p-4">{{date.description}}</p>
                </a>
        </div>
        <div class="border-[2px] border-t-[0px] border-brownwhite text-brown w-[75vw] md:w-[50vw] 2xl:w-[33vw] mx-auto flex justify-evenly">
            <a href="{% url 'edit_entry' date.id %}" class="text-center py-2 m-2 bg-brown hover:bg-darkbrown text-white w-[100px] h-[40px] rounded-md">
                Edit
            </a>
            <a href="{% url 'delete_entry' date.id %}" class="text-center py-2 m-2 bg-red hover:bg-darkred text-white w-[100px] h-[40px] rounded-md">
                <span>Delete</span>
            </a>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}

