{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Log In</title>
</head>
<body class="m-6">
    <h1 class="text-darkbrown text-5xl m-6">Log In</h1>

    <!-- Add the login form -->
    <form method="POST" action="{% url 'login' %}" class="text-darkbrown text-xl">
        {% csrf_token %}
        <table class="text-darkbrown text-xl my-4">
            {{form.as_table}}
        </table>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="bg-brown py-1 px-4 text-white rounded hover:bg-darkbrown">Log In</button>
    </form>
</body>
</html>