{% extends 'base.html' %}
{% block content %}
    <h1 class="text-darkbrown text-4xl text-center m-4 font-bold">Log In</h1>

    <!-- Add the login form -->
    <form method="POST" action="{% url 'login' %}" class="text-darkbrown text-xl w-[400px] mx-auto">
        {% csrf_token %}
        <table class="text-darkbrown mx-auto my-4">
            {{form.as_table}}
        </table>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="bg-brown py-2 px-4 w-[80%] ml-[40px] text-white rounded hover:bg-darkbrown">Log In</button>
    </form>
{% endblock %}