{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% tailwind_css %}
        <title>Wear It Out</title>
    </head>
    <body>
        <header>
            <nav class="bg-[#67595e]">
                <div class="mx-auto max-w-7xl px-2 lg:px-6 lg:px-8">
                  <div class="relative flex h-16 items-center justify-between">
                    <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
                      <!-- Mobile menu button-->
                      <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-[white] hover:bg-[#67595e] hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <!--
                          Icon when menu is closed.
              
                          Menu open: "hidden", Menu closed: "block"
                        -->
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <!--
                          Icon when menu is open.
              
                          Menu open: "block", Menu closed: "hidden"
                        -->
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                    <div class="flex flex-1 items-center justify-center lg:justify-start">
                      <div class="flex flex-shrink-0 items-center">
                        <img class="h-14 w-auto" src="{% static 'assets/wear_it_out_icon2.png' %}" alt="yellow shirt with gray cat">
                      </div>
                      <div class="hidden lg:ml-6 lg:block">
                        <div class="flex space-x-4 justify-end">
                          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                          <a href="/" class="rounded-md py-3 text-md" aria-current="page">
                            <img class="h-8 w-auto" src="{% static 'assets/wear_it_out_logo3.png' %}" alt="Wear It Out">
                          </a>
                          <a href="/" class="text-white hover:bg-[#2d1d05] hover:text-white rounded-md px-3 py-4 text-md font-medium">My Closet</a>
                          <a href="/" class="text-white hover:bg-[#2d1d05] hover:text-white rounded-md px-3 py-4 text-md font-medium">Add to Closet</a>
                          <a href="/" class="text-white hover:bg-[#2d1d05] hover:text-white rounded-md px-3 py-4 text-md font-medium">Outfits</a>
                          <a href="/" class="text-white hover:bg-[#2d1d05] hover:text-white rounded-md px-3 py-4 text-md font-medium">Outfit Tracker</a>
                        </div>
                    </div>
                </div>
                <div class="hidden lg:block">
                    <a href="/" class="text-white hover:bg-[#2d1d05] hover:text-white rounded-md px-3 py-4 text-md font-medium">Sign Up</a>
                    <span class="text-[#2d1d05] px-3 py-4 text-md font-medium">|</span>
                    <a href="/" class="text-white hover:bg-[#2d1d05] hover:text-white rounded-md px-3 py-4 text-md font-medium">Log In</a>
                </div>
                  </div>
                </div>
              
                <!-- Mobile menu, show/hide based on menu state. -->
                <div class="lg:hidden" id="mobile-menu">
                  <div class="space-y-1 px-2 pb-3 pt-2">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="text-[white] hover:bg-[#2d1d05] hover:text-white block rounded-md px-3 py-2 text-base font-medium">My Closet</a>
                    <a href="#" class="text-[white] hover:bg-[#2d1d05] hover:text-white block rounded-md px-3 py-2 text-base font-medium">Add to Closet</a>
                    <a href="#" class="text-[white] hover:bg-[#2d1d05] hover:text-white block rounded-md px-3 py-2 text-base font-medium">Outfits</a>
                    <a href="#" class="text-[white] hover:bg-[#2d1d05] hover:text-white block rounded-md px-3 py-2 text-base font-medium">Outfit Tracker</a>
                    <a href="#" class="text-[white] hover:bg-[#2d1d05] hover:text-white block rounded-md px-3 py-2 text-base font-medium">Sign Up</a>
                    <a href="#" class="text-[white] hover:bg-[#2d1d05] hover:text-white block rounded-md px-3 py-2 text-base font-medium">Log In</a>
                  </div>
                </div>
              </nav>
        </header>
        <main>
            {% block content %} 
            {% endblock %}
        </main>
    </body>
</html>
