{% extends 'base.html' %}
{% block content %}

<div class="flex flex-col my-14 mx-auto max-w-max flex justify-center border-[2px] border-brownwhite">
    <div class="flex justify-center">
        <div class="border-brownwhite border-r-[1px] flex flex-col">
            {% for photo in clothingitem.photo_set.all %}
            <img class="max-w-[300px] max-h-[400px] m-6" src="{{photo.url}}">
            {% empty %}
            {% if clothingitem.category == 'S' %}
            <img class="max-w-[300px]" src="https://i.imgur.com/3ATQc4h.png" alt="shoes">
            {% elif clothingitem.category == 'T' %}
            <img class="max-w-[300px]" src="https://i.imgur.com/Vakh24u.png" alt="shirt">
            {% elif clothingitem.category == 'B' %}
            <img class="max-w-[300px]" src="https://i.imgur.com/rv14CLJ.png" alt="pants">
            {% elif clothingitem.category == 'A' %}
            <img class="max-w-[300px]" src="https://i.imgur.com/gJ2GYvw.png" alt="hat and sunglasses">
            {% elif clothingitem.category == 'F' %}
            <img class="max-w-[300px]" src="https://i.imgur.com/dyVvDYS.png" alt="dress">
            {% endif %}
            <div class="text-center text-darkbrown text-xl font-bold my-4">No Photos Uploaded</div>
            {% endfor %}
            <form action="{% url 'add_clothing_item_photo' clothingitem.id %}" enctype="multipart/form-data" method="POST" class="flex flex-col justify-center">
                {% csrf_token %}
                <input type="file" name="photo-file" class="mx-auto my-4 w-[240px]">
                <button type="submit" class="text-center py-2 my-4 mx-auto bg-blue hover:bg-darkblue text-white rounded-md w-[160px]">Upload Photo</button>
            </form>
        </div>
        <div class="flex flex-col gap-3 p-6 border-brownwhite border-l-[1px] rounded-r-md w-[540px]">
            <h1 class="text-3xl font-semibold text-darkbrown mb-8">{{ clothingitem.description }}</h1>
            <p class="text-lg text-brown"><span class="font-semibold">Category:</span> {{ clothingitem.get_category_display }}</p>
            <p class="text-lg text-brown"><span class="font-semibold">Place purchased:</span> {{ clothingitem.place_purchased }}</p>
            <p class="text-lg text-brown"><span class="font-semibold">Price:</span> {{ clothingitem.price }}</p>
            <p class="text-lg text-brown"><span class="font-semibold">Size:</span> {{ clothingitem.size }}</p>
            <div class="text-lg text-brown">
                <span class="font-semibold">Color(s):</span>
                {% if clothingitem.colors.all %}
                {% for color in clothingitem.colors.all %}
                <span class="bg-brownwhite p-2 rounded-sm mx-2 leading-[3rem]">
                    {{ color }}
                    <form action="{% url 'unassoc_color' clothingitem.id color.id%}" method="POST" class="mx-1 inline">
                        {% csrf_token %}
                        <button type="submit">
                            <img class="h-3" src="https://i.imgur.com/R7bJNnQ.png">
                        </button>
                    </form>
                </span>
                {% endfor %}
                {% else %}
                <span class="bg-lightyellow p-2 rounded-sm mx-2">No colors added</span>
                {% endif %}
            </div>
            <div class="text-darkbrown flex flex-col">
                <p class="bg-orangegray p-2 mb-4 rounded-sm mx-2 font-semibold">Add Colors</p>
                {% if colors.count %}
                    <div class="px-4 grid grid-cols-5">
                        {% for color in colors.all %}
                        <div>
                        <span class="leading-[1.75rem]">{{color}}</span>
                        <form action="{% url 'assoc_color' clothingitem.id color.id%}" method="POST" class="inline">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="h-3" src="https://i.imgur.com/bUfapyJ.png">
                            </button>
                        </form>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                <p class="px-4">No available colors</p>
                {% endif %}
            </div>
            <div class="text-lg text-brown">
                <span class="font-semibold text-brown text-lg">Tag(s):</span>
                {% if clothingitem.tags.all %}
                {% for tag in clothingitem.tags.all %}
                    <span class="bg-brownwhite p-2 m-2 rounded-sm mx-2 leading-[3rem]">
                        {{ tag }}
                        <form action="{% url 'unassoc_tag' clothingitem.id tag.id%}" method="POST" class="inline">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="h-3" src="https://i.imgur.com/R7bJNnQ.png">
                            </button>
                        </form>
                    </span>
                {% endfor %}
                {% else %}
                <span class="bg-lightyellow p-2 rounded-sm mx-2">No tags added</span>
                {% endif %}
                </div>
            <div class="text-darkbrown flex flex-col">
                <p class="bg-orangegray p-2 mb-4 rounded-sm mx-2 font-semibold">Add Tags</p>
                {% if tags.count %}
                    <div class="px-4 grid grid-cols-3">
                        {% for tag in tags.all %}
                        <div>
                        <span class="leading-[1.75rem]">{{tag}}</span>
                        <form action="{% url 'assoc_tag' clothingitem.id tag.id%}" method="POST" class="inline">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="h-3" src="https://i.imgur.com/bUfapyJ.png">
                            </button>
                        </form>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                <p class="px-4">No available tags</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="border-t-[2px] border-brownwhite flex justify-evenly h-[80px]">
        <a href="{% url 'edit_clothing_item' clothingitem.id %}" class="text-center py-2 mt-4 bg-brown hover:bg-darkbrown text-white w-[100px] h-[40px] rounded-md">
            Edit
        </a>
        <a href="{% url 'delete_clothing_item' clothingitem.id %}" class="text-center py-2 mt-4 bg-red hover:bg-darkred text-white w-[100px] h-[40px] rounded-md">
            <span>Delete</span>
        </a>
    </div>
</div>



{% endblock %}
