{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="flex flex-col my-14 mx-auto max-w-max flex justify-center border-[2px] border-brownwhite">
    <div class="flex justify-center">
        <div class="flex flex-col gap-3 p-6 border-brownwhite border-l-[1px] rounded-r-md w-[700px] text-darkbrown">
            <h1 class="text-2xl font-semibold mb-2">{{ date.date }}</h1>
            <p class="text-xl text-brown">{{ date.description }}</p>
            <p class="text-xl text-brown">Outfit(s):</p>
            {% if date.outfits.all %}
            <div class="grid grid-cols-3">
            {% for outfit in date.outfits.all %}
            <div class="border-[2px] border-brownwhite w-[205px] mb-3">
                {% if outfit.photo_set.all %}
                <div class="bg-brownwhite min-h-[200px]">
                    <img class="max-w-[200px] max-h-[200px] mx-auto bg-brownwhite" src="{{outfit.photo_set.first.url}}">
                </div>
                {% else %}
                <div class="bg-brownwhite">
                    <img class="h-[220px] mx-auto" src="{% static 'assets/outfit.png' %}" alt="shirt, shorts, shoes, and a hat">
                </div>
                {% endif %}
                <div class="text-center rounded-sm my-2 py-1 px-2 max-w-[200px]">{{ outfit }}
                    <form action="{% url 'unassoc_outfit' date.id outfit.id %}" method="POST" class="inline ml-2">
                        {% csrf_token %}
                        <button type="submit">
                            <img class="h-3" src="{% static 'assets/remove.png' %}">
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <p class="bg-brownwhite py-2 px-4 text-brown text-lg">No outfits added</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="border-brownwhite border-[1px] w-[1000px] mx-auto mb-[54px]">
    <h1 class="text-xl text-darkbrown p-4 bg-brownwhite">Add Outfits:</h1>
    {% if outfits.count %}
    <div class="mx-4 px-4 grid grid-cols-4">
        {% for outfit in outfits.all%}
        <div class="border-[2px] border-brownwhite w-[205px] m-4">
            {% if outfit.photo_set.all %}
            <div class="bg-brownwhite">
                <img class="max-w-[200px] max-h-[200px] mx-auto bg-brownwhite" src="{{outfit.photo_set.first.url}}">
            </div>
            {% else %}
            <div class="bg-brownwhite">
                <img class="max-w-[200px] bg-brownwhite" src="{% static 'assets/outfit.png' %}" alt="shirt, shorts, shoes, and a hat">
            </div>
            {% endif %}
            <div class="text-center rounded-sm my-2 py-1 px-2 max-w-[200px] text-darkbrown">
                {{ outfit }}
                <form action="{% url 'assoc_outfit' date.id outfit.id %}" method="POST" class="inline ml-2">
                    {% csrf_token %}
                    <button type="submit">
                        <img class="h-3" src="{% static 'assets/add.png' %}">
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="px-4 my-6 text-darkbrown text-lg">No available outfits</p>
    {% endif %}
</div>

{% endblock %}