{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex">
    <a href="{% url 'clothing_items_tops' %}">
        <img title="tops" src="{% static 'assets/shirt.png' %}" alt="t-shirt with brown stripes">
    </a>
    <a href="{% url 'clothing_items_bottoms' %}">
        <img title="bottoms" src="{% static 'assets/pants.png' %}" alt="brown pants">
    </a>
    <a href="{% url 'clothing_items_fullbody' %}">
        <img title="full body" src="{% static 'assets/dress.png' %}" alt="yellow dress">
    </a>
    <a href="{% url 'clothing_items_accessories' %}">
        <img title="accessories" src="{% static 'assets/accessories.png' %}" alt="sunglasses and bucket hat">
    </a>
    <a href="{% url 'clothing_items_shoes' %}">
        <img title="shoes" src="{% static 'assets/shoes.png' %}" alt="shoes with brown pattern">
    </a>
</div>
{% endblock %}
