{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<img class="absolute" src="https://i.imgur.com/Y9kEXjf.png">
<a href="{% url 'clothing_items_tops' %}">
    <img class="absolute mt-9 ml-4 w-[360px] hover:scale-105" src="https://i.imgur.com/135tIaU.png" alt="shirt" title="Tops">
</a>
<a href="{% url 'clothing_items_fullbody' %}">
    <img class="absolute mt-10 ml-[480px] w-[360px] hover:scale-105" src="https://i.imgur.com/WKWx3ce.png" alt="dress" title="Full Body">
</a>
<a href="{% url 'clothing_items_bottoms' %}">
    <img class="absolute mt-7 ml-[950px] w-[280px] hover:scale-105" src="https://i.imgur.com/Ee6yi65.png" alt="pants" title="Bottoms">
</a>
<a href="{% url 'clothing_items_shoes' %}">
    <img class="absolute mt-[600px] ml-[100px] w-[280px] hover:scale-105" src="https://i.imgur.com/WoASnVt.png" alt="shoes" title="Shoes">
</a>
<a href="{% url 'clothing_items_accessories' %}">
    <img class="absolute mt-[620px] ml-[870px] w-[400px] hover:scale-105" src="https://i.imgur.com/B4HLXn2.png" alt="bucket hat and sunglasses" title="Accessories">
</a>
{% else %}
<div class="w-[80vw] border-[2px] border-brownwhite mx-auto my-6">
    <h1 class="text-darkbrown text-center text-3xl mt-4 mb-8 font-bold">Welcome to Wear It Out!</h1>
    <p class="text-darkbrown text-center text-lg mx-4">Wear It Out is an application that allows you to log all of the items in your closet, and track your outfits.</p>
    <p class="text-darkbrown text-center text-xl my-8">
        <span class="font-bold">Log in</span> or <span class="font-bold">sign up</span> to get started!
    </p>
    <div class="flex flex-col xl:flex-row gap-6">
        <img class="border-[1px] border-brownwhite w-[70vw] xl:w-[35vw] mx-auto xl:ml-[4vw] mb-10" src="https://i.imgur.com/Ea2dZaM.png" alt="screenshot of wear it out with clothing item detail page">
        <img class="border-[1px] border-brownwhite w-[70vw] xl:w-[35vw] mx-auto xl:mr-[4vw] mb-10" src="https://i.imgur.com/f1HXIQi.png" alt="screenshot of wear it out with outfit tracker view">
    </div>
</div>
{% endif %}
{% endblock %}
