{% extends 'base.html' %}

{% block content %}
<div class="flex">
    <a href="{% url 'clothing_items_tops' %}">
        <img title="tops" src="https://i.imgur.com/Vakh24u.png" alt="t-shirt with brown stripes">
        <h1 class="text-center text-darkbrown font-semibold text-3xl">Tops</h1>
    </a>
    <a href="{% url 'clothing_items_bottoms' %}">
        <img title="bottoms" src="https://i.imgur.com/rv14CLJ.png" alt="brown pants">
        <h1 class="text-center text-darkbrown font-semibold text-3xl">Bottoms</h1>
    </a>
    <a href="{% url 'clothing_items_fullbody' %}">
        <img title="full body" src="https://i.imgur.com/dyVvDYS.png" alt="yellow dress">
        <h1 class="text-center text-darkbrown font-semibold text-3xl">Full Body</h1>
    </a>
    <a href="{% url 'clothing_items_accessories' %}">
        <img title="accessories" src="https://i.imgur.com/gJ2GYvw.png" alt="sunglasses and bucket hat">
        <h1 class="text-center text-darkbrown font-semibold text-3xl">Accessories</h1>
    </a>
    <a href="{% url 'clothing_items_shoes' %}">
        <img title="shoes" src="https://i.imgur.com/3ATQc4h.png" alt="shoes with brown pattern">
        <h1 class="text-center text-darkbrown font-semibold text-3xl">Shoes</h1>
    </a>
</div>
{% endblock %}
